.dlmenucontainer {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
	padding : 10px 0;
	-webkit-box-shadow: 0px 2px 8px #666666;
	-moz-box-shadow: 0px 2px 8px #666666;
	box-shadow: 0px 2px 8px #666666;
	overflow: hidden;
}
.dl_menu_container_ul {
	overflow: visible;
	padding:0 1px;
    /*position: absolute;*/
}

.dl_menu_element {
	
	padding : 0 30px 0 20px;
	font-size: 11px;
	line-height: 16px;
	cursor: pointer;

}

.dl_menu_element:hover {
	color: #FFF;
	background: #394EEE;
	
}

.dl_scrollhandle {
	cursor: pointer;
	background:#888;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
}

.dl_menu_action {
	padding:7px 20px 8px 20px;
	background:#EEE;
	color:#232323;
	text-decoration:none;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size:13px;
	line-height:13px;
}