*, body {
	padding:0;
	margin:0;
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	background-color:#F5F4EF;
}

a {outline:none;}
header, footer, section {
	width:750px;
	margin:0 auto;
	display:block;
}

header {margin-top:30px;}
header h1 {}
header h1 a, header h1 a strong {display:block; color:#000;text-decoration:none;}
header h1 a:hover, header h1 a:hover strong {color:#5E9EF3;}
header h1 a {font-size:50px;}
header h1 a strong {
	display:block;
	font-size:22px
}

nav {
	background:#000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display:block;
	margin-top:30px;
}
nav ul {		
	height:35px;
}

nav ul li {
	float:left;
	list-style: none inside;
	
}

nav ul li a {
	color:#FFF;
	display:block;
	line-height:35px;
	padding:0 22px;
	text-decoration:none;
}

nav ul li.active a, nav ul li a:hover {
	background-color:#5E9EF3;
}

section#content {
	margin-top:30px;
	background:#FFF;
	min-height:500px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:25px;
	width:700px;
}
section h2, section h3, section p {
	margin-bottom:20px;
}

#banner nav li:first-child a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;

	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

footer {
	margin-top:30px;
	margin-bottom:30px;
	
}
footer address {
	margin-top:30px;
	margin-bottom:30px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#FFF;
	padding:25px;
	width:700px;
	
}

footer p {text-align:right;}
footer p a {color:#5E9EF3; text-decoration:none;}
footer address span.primary {
	display:block;
	width:185px;
	float:left;
}

footer address {font-style: normal;}
footer address span.primary strong {font-size:30px;}
footer address span.primary strong a {color:#5E9EF3;text-decoration:none;}
footer address span.primary span.role {display:block;}
footer address img {float:left; margin-right:30px;}
footer address a {color:#5E9EF3;text-decoration:none;}
footer address a:hover {text-decoration:underline;}

code, pre {
	background:#F1F1F1;
	display:block;
	padding:20px;
	border:1px dashed #CCC;
	font-family: Courier, sans-serif;
	margin-bottom:20px;
	font-size:13px;
}

/**
 * START
 */
#country_select {
	padding:7px 20px 8px 20px;
	background:#EEE;
	color:#232323;
	text-decoration:none;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size:13px;
	line-height:13px;	
}
#country_select:hover {
	background:#DDD;
}
/**
 * STOP
 */